<!-- Create Header -->
<app-header [title]="'Nasa Blog' | uppercase" [subtitle]="" [content]="'welcome to nasa blog' | uppercase"
    [imageUrl]="'home-bg.jpg'" [headerClass]="'site-heading'">
</app-header>


<!-- Main Content -->
<div class="container">
    <div *ngFor="let post of posts">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview" *ngIf="adminService.isSignedIn || post.reports.length <= 5">
                    <a (click)="viewPost(post._id)">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{post.owner}} on {{post.date.monthName}} {{post.date.day}},
                        {{post.date.year}}</p>

                    <app-post-exetention [post]="post"></app-post-exetention>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>