<!-- Post Header -->
<app-header [title]="post.title" [subtitle]="post.subtitle"
    [content]="'Posted by ' + post.owner + ' on ' + post.date.monthName + ' ' + post.date.day + ', ' + post.date.year"
    [imageUrl]="'post-bg.jpg'" [headerClass]="'post-heading'" #i>
</app-header>


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <markdown lineNumbers [data]="postContent"></markdown>
                <br>

                <div>
                    <app-post-exetention [post]="post"></app-post-exetention>
                    <hr>

                    <disqus [identifier]="pageId" (newComment)="newCommentBtn.click()"></disqus>
                    <button #newCommentBtn (click)="onComment()" hidden></button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</article>
<hr>