<!-- Create Header -->
<app-header [title]="'Error'" [subtitle]="" [content]="" [imageUrl]="'home-bg.jpg'" [headerClass]="'site-heading'">
</app-header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>{{errCode}} {{errMsg}}</h2>
                <div class="error-details">
                    Sorry, an error has occured!
                </div>
            </div>
        </div>
    </div>
</div>