<!-- Home Header -->
<app-header [title]="'NASA BLOG'" [subtitle]="" [content]="'WELCOME TO NASA BLOG'" [imageUrl]="'home-bg.jpg'"
    [headerClass]="'site-heading'">
</app-header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form name="sentMessage" id="contactForm" (submit)="onSave()" [formGroup]="form" novalidate>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" formControlName="title" placeholder="Title" id="name"
                            required minlength="4">
                    </div>
                    <p class="help-block text-danger" *ngFor="let errMsg of getErrorsMsgs(title,'post title')">
                        {{errMsg}}</p>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>SubTitle</label>
                        <input type="text" class="form-control" formControlName="subtitle" placeholder="SubTitle"
                            id="name">
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Content</label>
                        <textarea rows="5" class="form-control" formControlName="content" placeholder="Content"
                            id="message" required minlength="5"></textarea>
                    </div>
                    <p class="help-block text-danger" *ngFor="let errMsg of getErrorsMsgs(content,'post content')">
                        {{errMsg}}</p>
                </div>
                <br>

                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>